@import './byTopic.css';
@import './share-buttons.css';
@import './navBar.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}
body {
    display: flex;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}